body{
    width: 100vw;
    margin: 0;
    background-color: black;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

video{
    cursor: zoom-in;
}

.navbar{
    width: 100%;
    height: auto;
    padding:10px;

    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
}

.menu{
    margin: 10px;
}
.logo-menu{
    cursor: pointer;
}

.logo{
    margin: 10px;

}
.avatar{
    
}

.row{
    width: 80% ;
    height: 160;

    border: 1px solid red;

    position: relative;

}
.card{
    border: 1px solid white;
    
    position: absolute;

    padding-top: 5px;
    padding-bottom: 5px;
}